<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Lista clientes</h2>
    </div>
    <div class="card body">
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Fecha creación</th>
            <th scope="col">Región</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of clientes">
            <td *ngIf="!item.imagen">
              <img src={{imageSrc}} style="width: 50px;"/>
            </td>
            <td *ngIf="item.imagen">
              <img src="http://localhost:8087/api/clientes/img/{{item.imagen}}" style="width: 50px;"/>
            </td>
            <td>{{item.nombre}}</td>
            <td>{{item.apellido}}</td>
            <td>{{item.email}}</td>
            <td>{{item.telefono}}</td>
            <td>{{item.createdAt | date: 'dd/mm/yyyy'}}</td>
            <!--<td>{{item.imagen}}</td>-->
            <td>{{item.region.name}}</td>
            <td *ngIf="this.servicioUsuario.token">
                <a class="btn btn-info m-1" routerLink="/cliente/view/{{item.id}}">View</a>
                <a class="btn btn-primary m-1" routerLink="/cliente/edit/{{item.id}}">Edit</a>
                <a class="btn btn-danger m-1" (click)="borrarCliente(item)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

